In [20]:
import pandas as pd
import os

## Read the data

In [2]:
data = pd.read_csv(r"..\data\newsqa-data-v1\newsqa-data-v1.csv")

In [3]:
data.head(10)

,story_id,question,answer_char_ranges,is_answer_absent,is_question_bad,validated_answers
0,./cnn/stories/42d01e187213e86f5fe617fe32e716ff...,What was the amount of children murdered?,294:297|None|None,0.000000,0.0,"{""none"": 1, ""294:297"": 2}"
1,./cnn/stories/c48228a52f26aca65c31fad273e66164...,Where was one employee killed?,34:60|1610:1618|34:60,0.000000,0.0,NaN
2,./cnn/stories/c65ed85800e4535f4bbbfa2c34d7d963...,who did say South Africa did not issue a visa ...,103:127|114:127|839:853,0.000000,0.0,"{""839:853"": 1, ""103:127"": 2}"
3,./cnn/stories/0cf66b646e9b32076513c050edf32a79...,How many years old was the businessman?,538:550|538:550,0.000000,0.0,NaN
4,./cnn/stories/13012604e3203c18df09289dfedd14cd...,What frightened the families?,690:742|688:791|630:646,0.000000,0.0,"{""688:791"": 2, ""690:742"": 1}"
5,./cnn/stories/47bec8c6418d2cc7e36f453f0f4bf049...,what Pope used to beat himself?,14:27|14:27,0.000000,0.0,NaN
6,./cnn/stories/d312173b8c95cc6c206a32cc0acd8a92...,Who is hiring?,"334:345|292:297,372:379|4045:4079|301:324",0.000000,0.0,"{""301:324"": 2}"
7,./cnn/stories/644a3f79470d3b457efacc7d4ea33577...,What war was the Iwo Jima battle a part of?,"57:63,67:70|None|57:63,67:70",0.333333,0.0,NaN
8,./cnn/stories/d191e20468fc7675fcfa55c33fab1e65...,Iran criticizes who?,68:97|63:97|None,0.333333,0.0,"{""63:97"": 2}"
9,./cnn/stories/318f71eba1831f330d423043827aa24e...,Who is Radu Mazare?,"196:228|196:202,217:228|196:205,217:228",0.000000,0.0,"{""196:228"": 2}"

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119633 entries, 0 to 119632
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   story_id            119633 non-null  object
 1   question            119631 non-null  object
 2   answer_char_ranges  119633 non-null  object
 3   is_answer_absent    119633 non-null  float64
 4   is_question_bad     119633 non-null  object
 5   validated_answers   51630 non-null   object
dtypes: float64(1), object(5)
memory usage: 5.5+ MB

### Too many 'NaN' in 'validated_answers' columns.
### Let's keep only the validated ones

In [5]:
data.dropna(inplace=True)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51630 entries, 0 to 119630
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   story_id            51630 non-null  object
 1   question            51630 non-null  object
 2   answer_char_ranges  51630 non-null  object
 3   is_answer_absent    51630 non-null  float64
 4   is_question_bad     51630 non-null  object
 5   validated_answers   51630 non-null  object
dtypes: float64(1), object(5)
memory usage: 2.8+ MB

### This looks better

### But still there are many data which have been reported as 'is_answer_absent' or 'is_question_bad' by many people. I'll not take any chance, and only keep those which have 0 such reports.

In [12]:
data=data[(data['is_answer_absent'].astype('float')==0)&(data['is_question_bad']=='0.0')] # the datatypes are str

In [13]:
data.head(10)

,story_id,question,answer_char_ranges,is_answer_absent,is_question_bad,validated_answers
0,./cnn/stories/42d01e187213e86f5fe617fe32e716ff...,What was the amount of children murdered?,294:297|None|None,0.0,0.0,"{""none"": 1, ""294:297"": 2}"
2,./cnn/stories/c65ed85800e4535f4bbbfa2c34d7d963...,who did say South Africa did not issue a visa ...,103:127|114:127|839:853,0.0,0.0,"{""839:853"": 1, ""103:127"": 2}"
4,./cnn/stories/13012604e3203c18df09289dfedd14cd...,What frightened the families?,690:742|688:791|630:646,0.0,0.0,"{""688:791"": 2, ""690:742"": 1}"
6,./cnn/stories/d312173b8c95cc6c206a32cc0acd8a92...,Who is hiring?,"334:345|292:297,372:379|4045:4079|301:324",0.0,0.0,"{""301:324"": 2}"
9,./cnn/stories/318f71eba1831f330d423043827aa24e...,Who is Radu Mazare?,"196:228|196:202,217:228|196:205,217:228",0.0,0.0,"{""196:228"": 2}"
13,./cnn/stories/4ba7d2cd2eed959000ff8d1b1891cb72...,What does Designer Isabel Toledo say?,"221:232|221:232,261:408|2038:2172,2177:2216,22...",0.0,0.0,"{""221:232"": 1, ""none"": 1, ""2042:2176"": 1}"
15,./cnn/stories/4d181b23eb2a5c73f17f6c6c8856ad24...,What did the French president say?,3816:3859|3798:3859|3798:4072,0.0,0.0,"{""3798:4072"": 2}"
17,./cnn/stories/b0e3514a8b6859bbf897f09721e93fc9...,What are the activities for?,None|644:758|641:758,0.0,0.0,"{""644:758"": 2}"
18,./cnn/stories/16032c5ee785586dd13cf05818718744...,What requires unified action?,581:720|581:658|578:658,0.0,0.0,"{""581:658"": 2}"
19,./cnn/stories/15d6c5089f6801a6c0460cb3cc2aa1b9...,What has Hleb chosen to do?,"288:313|303:371|124:134,95:105",0.0,0.0,"{""288:313"": 1, ""none"": 1, ""95:105"": 1}"

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25817 entries, 0 to 119630
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   story_id            25817 non-null  object
 1   question            25817 non-null  object
 2   answer_char_ranges  25817 non-null  object
 3   is_answer_absent    25817 non-null  float64
 4   is_question_bad     25817 non-null  object
 5   validated_answers   25817 non-null  object
dtypes: float64(1), object(5)
memory usage: 1.4+ MB

In [16]:
data = data.reset_index(drop=True)

## The stories are in a separate directory

### Reading one of the stories

In [33]:
base_story_path = r"E:\Work\Data_Science\Projects\Custom_Extractive_QA\data\cnn_stories"

In [34]:
story_id = data.loc[0,'story_id'][2:].replace('/', '\\')
story_id

'cnn\\stories\\42d01e187213e86f5fe617fe32e716ff7fa3afc4.story'

In [37]:
story_path = os.path.join(base_story_path, story_id)
story_path

'E:\\Work\\Data_Science\\Projects\\Custom_Extractive_QA\\data\\cnn_stories\\cnn\\stories\\42d01e187213e86f5fe617fe32e716ff7fa3afc4.story'

In [38]:
with open(story_path, 'r') as f:
    story_text = f.read()

In [40]:
story_text

'NEW DELHI, India (CNN) -- A high court in northern India on Friday acquitted a wealthy businessman facing the death sentence for the killing of a teen in a case dubbed "the house of horrors."\n\nMoninder Singh Pandher was sentenced to death by a lower court in February.\n\nThe teen was one of 19 victims -- children and young women -- in one of the most gruesome serial killings in India in recent years.\n\nThe Allahabad high court has acquitted Moninder Singh Pandher, his lawyer Sikandar B. Kochar told CNN.\n\nPandher and his domestic employee Surinder Koli were sentenced to death in February by a lower court for the rape and murder of the 14-year-old.\n\nThe high court upheld Koli\'s death sentence, Kochar said.\n\nThe two were arrested two years ago after body parts packed in plastic bags were found near their home in Noida, a New Delhi suburb. Their home was later dubbed a "house of horrors" by the Indian media.\n\nPandher was not named a main suspect by investigators initially, but was summoned as co-accused during the trial, Kochar said.\n\nKochar said his client was in Australia when the teen was raped and killed.\n\nPandher faces trial in the remaining 18 killings and could remain in custody, the attorney said.\n\n@highlight\n\nCourt acquitted Moninder Singh Pandher for the killing of a teen\n\n@highlight\n\n14-year old was one of 19 children and young women murdered\n\n@highlight\n\nPandher and a domestic employee sentenced to death in February by lower court'